<div class="govuk-grid-row">

    <div class="govuk-grid-column-two-thirds">

        <div id="contact-us-title" class="help-section-title">
            <h2 class="govuk-heading-l">
                Contact us for further help
            </h2>
            <p class="govuk-body govuk-!-margin-right-6">
                Need a helping hand? Fill in your details and include any information you think would be helpful
                for our service desk team.
            </p>
            <p class="govuk-body govuk-!-margin-right-6">
                We will attempt to respond within the next 5 working days.
            </p>
        </div>

        <form method="post" id="form-contact-servicedesk" autocomplete="off">
            <input type="hidden" name="_csrf" value="<%=csrfToken%>" />
            <input type="hidden" name="currentReferrer" value="<%=locals.referrer%>" />

            <fieldset class="govuk-fieldset">

                <legend class="govuk-fieldset__legend govuk-visually-hidden">Contact DfE Sign-in service desk</legend>

                <div class="govuk-form-group" style="display: none !important; visibility: hidden !important">
                    <label class="govuk-label govuk-label--s" for="phoneNumber">Phone Number</label>
                    <div id="phone-hint" class="govuk-hint">This field is used for spam detection, please do not fill this in, your response will not be sent to the service desk.</div>
                    <input class="govuk-input govuk-!-width-three-quarters" id="phoneNumber" name="phoneNumber" type="tel" aria-describedby="phone-hint">
                </div>
                <div class="govuk-form-group" style="display: none !important; visibility: hidden !important">
                    <label class="govuk-label govuk-label--s" for="password">Password</label>
                    <div id="password-hint" class="govuk-hint">This field is used for spam detection, please do not fill this in, your response will not be sent to the service desk.</div>
                    <input class="govuk-input govuk-!-width-three-quarters" id="password" name="password" type="password" aria-describedby="password-hint">
                </div>

                <div class="govuk-form-group <%= (locals.validationMessages.name !== undefined) ? 'govuk-form-group--error' : '' %>">
                    <label class="govuk-label govuk-label--s" for="name">Full name</label>
                    <% if (locals.validationMessages.name !== undefined) { %>
                        <span id="validation-name" class="govuk-error-message">
                            <span class="govuk-visually-hidden">Error:</span> <%=locals.validationMessages.name %>
                        </span>
                    <% } %>
                    <input class="govuk-input govuk-!-width-three-quarters" id="name" name="name"
                            type="text" <% if (locals.validationMessages.name !== undefined) { %> aria-invalid="true" aria-describedby="validation-name" <% } %> value="<%=name%>">
                </div>

                <div class="govuk-form-group <%= (locals.validationMessages.email !== undefined) ? 'govuk-form-group--error' : '' %>">
                    <label class="govuk-label govuk-label--s" for="email">Email address</label>
                    <% if (locals.validationMessages.email !== undefined) { %>
                        <span id="validation-email" class="govuk-error-message">
                            <span class="govuk-visually-hidden">Error:</span> <%=locals.validationMessages.email %>
                        </span>
                    <% } %>
                    <input class="govuk-input govuk-!-width-three-quarters" id="email" name="email" type="email" autocomplete="email"
                            spellcheck="false" <% if (locals.validationMessages.email !== undefined) { %> aria-invalid="true" aria-describedby="validation-email" <% } %> value="<%=email%>">
                </div>

                <div class="govuk-form-group <%= (locals.validationMessages.orgName !== undefined) ? 'govuk-form-group--error' : '' %>">
                    <label class="govuk-label govuk-label--s" for="orgName">Organisation name</label>
                    <% if (locals.validationMessages.orgName !== undefined) { %>
                        <span id="validation-orgName" class="govuk-error-message">
                            <span class="govuk-visually-hidden">Error:</span> <%=locals.validationMessages.orgName %>
                        </span>
                    <% } %>
                    <input class="govuk-input govuk-!-width-three-quarters" id="orgName" name="orgName"
                            type="text" <% if (locals.validationMessages.orgName !== undefined) { %> aria-invalid="true" aria-describedby="validation-orgName" <% } %> value="<%=orgName%>">
                </div>

                <div class="govuk-form-group <%= (locals.validationMessages.urn !== undefined) ? 'govuk-form-group--error' : '' %>">
                    <label class="govuk-label govuk-label--s" for="urn">Organisation URN or UKPRN (optional)</label>
                    <% if (locals.validationMessages.urn !== undefined) { %>
                        <span id="validation-urn" class="govuk-error-message">
                            <span class="govuk-visually-hidden">Error:</span> <%=locals.validationMessages.urn %>
                        </span>
                    <% } %>
                    <input class="govuk-input govuk-!-width-three-quarters" id="urn" name="urn"]
                            type="text" <% if (locals.validationMessages.urn !== undefined) { %> aria-invalid="true" aria-describedby="validation-urn" <% } %> value="<%=urn%>">
                </div>

                <div class="govuk-form-group <%= (locals.validationMessages.type !== undefined) ? 'govuk-form-group--error' : '' %>">
                    <label class="govuk-label govuk-label--s" for="type">What do you need help with?</label>
                    <% if (locals.validationMessages.type !== undefined) { %>
                        <span id="validation-type" class="govuk-error-message">
                            <span class="govuk-visually-hidden">Error:</span> <%=locals.validationMessages.type %>
                        </span>
                    <% } %>
                    <select id="type" name="type" class="govuk-select govuk-!-width-three-quarters">
                        <option disabled selected value>Tell us what you need help with</option>
                        <option value="create-account" <%= locals.type === 'create-account' ? 'selected' : '' %>>Setting up a DfE Sign-in account</option>
                        <option value="service-access" <%= locals.type === 'service-access' ? 'selected' : '' %>>Using a DfE service</option>
                        <option value="email-password" <%= locals.type === 'email-password' ? 'selected' : '' %>>Changing my email or password</option>
                        <option value="approver" <%= locals.type === 'approver' ? 'selected' : '' %>>Managing my users as an approver</option>
                        <option value="add-org" <%= locals.type === 'add-org' ? 'selected' : '' %>>Adding organisations to your account</option>
                        <option value="other" <%= locals.type === 'other' ? 'selected' : '' %>>Other (please specify)</option>
                    </select>
                </div>

                <!-- Forces the additional information box to display if JavaScript is disabled. -->
                <noscript><style>#typeOtherMessageGroup { display: block !important; }</style></noscript>
                <div id="typeOtherMessageGroup" class="govuk-form-group govuk-character-count <%= (locals.validationMessages.typeOtherMessage !== undefined) ? 'govuk-form-group--error' : '' %>"
                    data-module="govuk-character-count" data-maxlength="200"
                    style="<%= locals.type !== 'other' ? 'display: none' : '' %>">
                    <label class="govuk-label govuk-label--s" for="typeOtherMessage">Give us a short summary of your issue</label>
                    <% if (locals.validationMessages.typeOtherMessage !== undefined) { %>
                        <span id="validation-typeOtherMessage" class="govuk-error-message">
                            <span class="govuk-visually-hidden">Error:</span> <%=locals.validationMessages.typeOtherMessage %>
                        </span>
                    <% } %>
                    <textarea class="govuk-textarea govuk-!-width-three-quarters govuk-js-character-count" aria-describedby="typeOtherMessage-info<%- (locals.validationMessages.typeOtherMessage !== undefined) ? ' validation-typeOtherMessage" aria-invalid="true"' : '"' %>
                        id="typeOtherMessage" name="typeOtherMessage" rows="3" maxlength="200" ><%=typeOtherMessage%></textarea>
                    <div id="typeOtherMessage-info" class="govuk-hint govuk-character-count__message">
                        You can enter up to 200 characters
                    </div>
                </div>

                <div class="govuk-form-group <%= (locals.validationMessages.service !== undefined) ? 'govuk-form-group--error' : '' %>">
                    <label class="govuk-label govuk-label--s" for="service">What service are you trying to use?</label>
                    <% if (locals.validationMessages.service !== undefined) { %>
                        <span id="validation-service" class="govuk-error-message">
                            <span class="govuk-visually-hidden">Error:</span> <%=locals.validationMessages.service %>
                        </span>
                    <% } %>
                    <select id="service" name="service" class="govuk-select govuk-!-width-three-quarters">
                        <option disabled selected value>Tell us what service you are trying to use</option>
                        <% for (let i = 0; i < locals.services.length; i++) {
                            const service = locals.services[i]; %>
                            <option value="<%= service.name %>"<%=locals.service === service.name ? 'selected' : ''%>><%= service.name %></option>
                        <% } %>
                        <option value="Other" <%=locals.service === 'Other' ? 'selected' : ''%>>Other (please specify)</option>
                        <option value="None" <%=locals.service === 'None' ? 'selected' : ''%>>None</option>
                    </select>
                </div>

                <div class="govuk-form-group govuk-character-count <%= (locals.validationMessages.message !== undefined) ? 'govuk-form-group--error' : '' %>"
                    data-module="govuk-character-count" data-maxlength="1000">
                    <label class="govuk-label govuk-label--s" for="message">Tell us about your problem</label>
                    <% if (locals.validationMessages.message !== undefined) { %>
                        <span id="validation-message" class="govuk-error-message">
                            <span class="govuk-visually-hidden">Error:</span> <%=locals.validationMessages.message %>
                        </span>
                    <% } %>
                    <textarea class="govuk-textarea govuk-!-width-three-quarters govuk-js-character-count" aria-describedby="message-info<%- (locals.validationMessages.message !== undefined) ? ' validation-message" aria-invalid="true"' : '"' %>
                        id="message" name="message" rows="6" maxlength="1000" ><%=message%></textarea>
                    <div id="message-info" class="govuk-hint govuk-character-count__message">
                        You can enter up to 1000 characters
                    </div>
                </div>

            </fieldset>

            <div class="govuk-button-group">
                <button id="submit" type="submit" class="govuk-button">Submit</button>
                <a id="cancel" class="govuk-button govuk-button--secondary" href="<%= locals.referrer %>" role="button">Cancel</a>
            </div>

        </form>

    </div>

</div>

<script>
    const typeSelect = document.getElementById("type");
    typeSelect.addEventListener("change", showHideOtherMessageInput);

    function showHideOtherMessageInput(event) {
        const targetId = event.target.id;
        const inputGroup = document.getElementById(`${targetId}OtherMessageGroup`);
        const input = document.getElementById(`${targetId}OtherMessage`);

        if (event.target.value === 'other') {
            inputGroup.style.display = 'block';
            input.focus();
        } else {
            inputGroup.style.display = 'none';
            input.value = '';
        }
    }
</script>
