<div class="govuk-grid-row">

    <div class="govuk-grid-column-two-thirds">

        <!-- help dashboard title -->
        <% if (locals.header !== undefined && locals.description !== undefined) { %>

            <div id="dashboard-title" class="govuk-!-margin-bottom-8">
                <h1 class="govuk-heading-xl"><%- locals.header %></h1>
                <p class="govuk-body govuk-!-margin-right-6"><%- locals.description %></p>    
            </div>
            
        <% } %>

        <!-- list of help sections with their decription -->
        <% if (locals.sections !== undefined && locals.sections.length !== 0) { %>

            <ul class="govuk-list">
                <% for (const index in locals.sections) { %>
                    <li>
                        <h3 class="govuk-heading-m"><a href="<%= locals.sections[index].link %>" class="govuk-link"><%- locals.sections[index].title %></a></h3>
                        <p class="govuk-body"><%- locals.sections[index].text %></p>
                        <% if (locals.sections[index].updated !== undefined) { %>
                            <p class="govuk-body font-style-italic">
                                Updated <%- locals.sections[index].updated %>
                            </p>
                        <% } %>
                    </li>
                    <hr class="custom-section-break">
                <% } %>
            </ul>

        <% } %>

        <!-- related articles to show at the bottom of the page -->
        <% if (locals.relatedArticles !== undefined && locals.relatedArticles.items.length !== 0) { %>
            
            <div id="related-articles" class="govuk-!-margin-bottom-8">
                <h1 class="govuk-heading-xl">
                    <%= locals.relatedArticles.title %>
                </h1>
                <ul class="govuk-list">
                    <% for (const index in locals.relatedArticles.items) { %>
                        <li><a class="govuk-link" href="<%= locals.relatedArticles.items[index].link %>"><%- locals.relatedArticles.items[index].text %></a></li>
                    <% } %>
                </ul>
            </div>
            
        <% } %>

    </div>

    <!-- side menu with related actions -->
    <div class="govuk-grid-column-one-third">
        <aside>
            <h2 class="govuk-heading-m">Related actions</h2>
            <ul class="govuk-list">
                <li><a class="govuk-link" href="#">Contact DfE Sign-in</a></li>
            </ul>
        </aside>
    </div>

</div>
