<div class="govuk-grid-row">

    <div class="govuk-grid-column-two-thirds">
        
        <!-- list of help sections with their decription -->
        <ul class="govuk-list">

            <li id="services">
                <hr class="govuk-section-break govuk-section-break--m govuk-section-break--visible">
                <h3 class="govuk-heading-m">
                    <a href="<%=locals.serviceId%>/about-manage-console" class="govuk-link">
                        About DfE Sign-in manage console
                    </a>
                </h3>
                <p class="govuk-body">
                    Find out what you can do on the DfE Sign-in manage console application.
                </p>
                <p class="govuk-body">
                    Updated October 2024
                </p>
                <hr class="govuk-section-break govuk-section-break--m govuk-section-break--visible">
            </li>

            <li id="organisations">
                <h3 class="govuk-heading-m">
                    <a href="/manageConsole/<%= locals.serviceId%>/how-to-manage-users" class="govuk-link">
                        Manage users
                    </a>
                </h3>
                <p class="govuk-body">
                    Find out how to view, search, invite and remove users from your service.
                </p>
                <p class="govuk-body">
                    Updated October 2024
                </p>
                <hr class="govuk-section-break govuk-section-break--m govuk-section-break--visible">
            </li>


            <li id="requests">
                <h3 class="govuk-heading-m">
                    <a href="/manageConsole/<%= locals.serviceId%>/how-to-view-and-search-organisations" class="govuk-link">
                        View and search organisations
                    </a>
                </h3>
                <p class="govuk-body">
                    Find out how to view and search organisation details.
                </p>
                <p class="govuk-body">
                    Updated October 2024
                </p>
                <hr class="govuk-section-break govuk-section-break--m govuk-section-break--visible">
            </li>


            <li id="approvers">
                <h3 class="govuk-heading-m">
                    <a href="<%=locals.serviceId%>/how-to-edit-service-config" class="govuk-link">
                        Edit service configuration
                    </a>
                </h3> 
                <p class="govuk-body">
                    Find out how to view and edit your service configuration.
                </p>
                <p class="govuk-body">
                    Updated January 2025
                </p>
                <hr class="govuk-section-break govuk-section-break--m govuk-section-break--visible">
            </li>
        </ul>

    </div>

    <!-- side menu with related actions -->
    <div class="govuk-grid-column-one-third">
        <aside id="related-actions">
            <h2 class="govuk-heading-m">Related actions</h2>
            <nav aria-label="Related actions">
                <ul class="govuk-list">
                    <li>
                        <h3 class="govuk-heading-s">
                            <a class="govuk-link-bold" target="_blank" href="<%=locals.urls.serviceNow%>">Contact DfE Sign-in (opens in new tab)</a>
                        </h3>
                    </li>
                </ul>
            </nav>
        </aside>
    </div>

</div>
