<ul class="govuk-service-navigation__list" id="navigation">
    <li class="govuk-service-navigation__item <%= locals.currentNavigation === 'dashboard' ? 'govuk-service-navigation__item--active' : '' %>">
        <a id="nav-dashboard" class="govuk-service-navigation__link" href="<%=locals.urls.manageConsole%>/services/<%=locals.serviceId%>">
            Dashboard
        </a>
    </li>

    <% if (locals.userRoles && locals.userRoles.includes('serviceconfig')) { %>
    <li class="govuk-service-navigation__item <%= locals.currentNavigation === 'configuration' ? 'govuk-service-navigation__item--active' : '' %>">
        <a id="nav-service-configuration" class="govuk-service-navigation__link" href="<%=locals.urls.manageConsole%>/services/<%=locals.serviceId%>/service-configuration">
            Configuration
        </a>
    </li>
    <% } %>

    <% if (locals.userRoles && locals.userRoles.includes('accessManage' )) { %>
    <li class="govuk-service-navigation__item <%= locals.currentNavigation === 'policies' ? 'govuk-service-navigation__item--active' : '' %>">
        <a id="nav-manage-policies" class="govuk-service-navigation__link" href="<%=locals.urls.manageConsole%>/services/<%= locals.serviceId %>/policies">
            Policies
        </a>
    </li>
    <% } %>

    <% if (locals.userRoles && locals.userRoles.includes('serviceSup')) { %>
        <li class="govuk-service-navigation__item <%= locals.currentNavigation === 'users' ? 'govuk-service-navigation__item--active' : '' %>">
        <a id="nav-user-management" class="govuk-service-navigation__link" href="<%=locals.urls.manageConsole%>/services/<%=locals.serviceId %>/users">
            Users
        </a>
    </li>
    <% } %>
    <% if (locals.userRoles && locals.userRoles.includes('serviceSup')) { %>
        <li class="govuk-service-navigation__item <%= locals.currentNavigation === 'organisations' ? 'govuk-service-navigation__item--active' : '' %>">
        <a id="nav-user-management" class="govuk-service-navigation__link" href="<%=locals.urls.manageConsole%>/services/<%=locals.serviceId %>/organisations">
            Organisations
        </a>
    </li>
    <% } %>

    <% if (locals.userRoles && locals.userRoles.includes('onboardSvc')) { %>
    <li class="govuk-service-navigation__item <%= locals.currentNavigation === 'onboarding' ? 'govuk-service-navigation__item--active' : '' %>">
        <a id="nav-onboard-service" class="govuk-service-navigation__link" href="<%=locals.urls.manageConsole%>/onboarding/<%= locals.serviceId %>/service">
            Service Onboarding
        </a>
    </li>
    <% } %>

    <li class="govuk-service-navigation__item govuk-service-navigation__item--active">
        <a class="govuk-service-navigation__link" href="/manageConsole/<%= locals.serviceId %>">
            Help
        </a>
    </li>
</ul>
