<ul class="govuk-service-navigation__list" id="navigation">
    <li class="govuk-service-navigation__item">
        <a class="govuk-service-navigation__link" href="<%=locals.urls.services%>/my-services">
            Services
        </a>
    </li>
    <li class="govuk-service-navigation__item">
        <a class="govuk-service-navigation__link" href="<%=locals.urls.services%>/organisations">
            Organisations
        </a>
    </li>
    <% if (locals.isApprover) { %>
        <li class="govuk-service-navigation__item">
            <a class="govuk-service-navigation__link" href="<%=locals.urls.services%>/approvals/users">
                Manage users
            </a>
        </li>
    <% } %>
    <% if (locals.isApprover) { %>
        <li class="govuk-service-navigation__item">
            <a class="govuk-service-navigation__link" href="<%=locals.urls.services%>/access-requests">
                Requests <% if (locals.approverRequests && locals.approverRequests.length) { %> <span class="govuk-notification-badge"><%= locals.approverRequests.length %></span> <% } %>
            </a>
        </li>
    <% } %>
    <li class="govuk-service-navigation__item">
        <a class="govuk-service-navigation__link" href="<%=locals.urls.profile%>">
            Profile
        </a>
    </li>
    <li class="govuk-service-navigation__item govuk-service-navigation__item--active">
        <a class="govuk-service-navigation__link" href="/dashboard">
            Help
        </a>
    </li>
    <li class="govuk-service-navigation__item">
        <a class="govuk-service-navigation__link" href="/signout">
            Sign out
        </a>
    </li>
</ul>
